{% extends 'xhatapp/base.html' %}

{% block body_block%}
<div class="container">
    <div class="card text-bg-dark mb-3" style="height: 25rem;">
        <div class="card-body">
            <!-- can set this on about page -->
            <h1 class="card-title">About - XhatGpt</h1>
            <p style="color: #B8336A;" class="card-text"><marquee>!!! XhatGpt is using official OpenAi API So,Please don't spam!!!</marquee></p>
            <p class="card-text" id="myText2">XhatGpt works same as ChatGpt, Which is using free tier - only created this project for Educational purpose. It will help to reduce the difficulty traffic of ChatGpt.</p>
            <p class="card-text">(Open Source :<a href="https://github.com/Roshan-Here/XhatGpt"> Check Github</a>)</p>
            <!-- <p class="card-text" id="typing-text"></p> -->
        </div>
    </div>
</div>
{% endblock %}