{% extends 'xhatapp/base.html' %}

{% block body_block%}
<div class="container">
    <div class="card text-bg-dark mb-3" style="height: 25rem;">
        <div class="card-body">
            <!-- can set this on about page -->
            <h1 class="card-title">About - XhatGpt</h1>
            <p style="color: #B8336A;" class="card-text"><marquee>!!! XhatGpt is using official OpenAi API So,Please don't spam!!!</marquee></p>
            <p class="card-text" id="myText">XhatGpt with telegram database channel support, need a telegram bot token, telegram api, Pyrogram preinstalled and mainly OpenAi API Key: which will fetch results</p>
            <!-- <p class="card-text" id="typing-text"></p> -->
        </div>
    </div>
</div>
{% endblock %}